<body id="page-top">
  <!-- Masthead-->
  <header class="masthead">
      <div class="container">
          <div class="masthead-subheading">Bienvenido a Reserv-eat!</div>
          <div class="masthead-heading text-uppercase">Es un placer conocerte</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#services">¿Cómo funciona?</a>
      </div>
  </header>
  <!-- Services-->
  <section class="page-section" id="services">
      <div class="container">
          <div class="text-center">
              <h3 class="section-heading text-uppercase">Te ofrecemos lo mejor de lo mejor</h3>
              <h3 class="section-subheading text-muted">¿Lo quieres? ¡Reserv-eat!</h3>
          </div>
          <div class="row text-center">
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fas fa-circle fa-stack-2x text-primary"></i>
                      <i class="fas fa-book-open fa-stack-1x "></i>
                  </span>
                  <h4 class="my-3">Explora</h4>
                  <p class="text-muted">En Reserv-eat, tenemos cientos de restaurantes disponibles para ti. Mira las opciones y escoge la que más te gusta!</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fas fa-circle fa-stack-2x text-primary"></i>
                      <i class="fas fa-address-book fa-stack-1x "></i>
                  </span>
                  <h4 class="my-3">Reserva</h4>
                  <p class="text-muted">Reservar una mesa en tu restaurant favorito jamás ha sido más fácil! Solamente ingresa tus datos y envía tu solicitud de reserva.</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                      <i class="fas fa-circle fa-stack-2x text-primary"></i>
                      <i class="fas fa-glass-cheers fa-stack-1x "></i>
                  </span>
                  <h4 class="my-3">Disfruta</h4>
                  <p class="text-muted">Una vez que tu solicitud haya sido aceptada, recibirás un mail con la confirmación e información de tu reserva. Ahora solo basta que disfrutes de tu gran jornada!</p>
              </div>
          </div>
      </div>
  </section>
<div class="container", align="center">
</div>
  <!-- Team-->
  <section class="page-section bg-light" id="team">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Nuestro increíble equipo</h2>
              <h3 class="section-subheading text-muted">Lleno de talento y simpatía</h3>
          </div>
          <div class="row">
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="../assets/team/paisaje1.jpg" alt="..." />
                      <h4>Julián Araya</h4>
                      <p class="text-muted">Cofundador</p>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="../assets/team/paisaje7.jpg" alt="..." />
                      <h4>Fabiola Garuti</h4>
                      <p class="text-muted">Cofundadora</p>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="team-member">
                      <img class="mx-auto rounded-circle" src="../assets/team/paisaje2.jpg" alt="..." />
                      <h4>Juan Fernández</h4>
                      <p class="text-muted">Cofundador</p>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Por muy alta que sea una montaña, siempre hay un camino hacia la cima.</p></div>
          </div>
      </div>
  </section>
  <!-- Contact-->
  <%= render 'welcome/contact' %>
  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <!-- Portfolio item 2 modal popup-->
</body>
